extends ../layout-inapp

block content
	#api-container
		.form.api-form
			.api-header
				input.form-control.form-control-before-edit(type="text", value="Projects Endpoint")

			.api-body
				.form-group
					.input-group
						.input-group-btn
							select.btn.btn-default(type="button")
								option GET
								option POST
								option PUT
								option DELETE
						//span.input-group-addon-slash
						input.form-control(type="text", placeholder="Enter resource endpoint", value="/projects")
						.input-group-btn
							button.btn.btn-default(type="button") Save

				.response-view
					ul.nav.nav-tabs
						li.active: a(href="#response", data-toggle="tab", aria-expanded="true") Response
						li: a(href="#headers", data-toggle="tab", aria-expanded="false") Headers

					#myTabContent.tab-content
						.tab-pane.fade.active.in#response
							label.radio-inline
								input(type="radio", name="inlineRadioOptions", value="option1")
								| JSON
							label.radio-inline
								input(type="radio", name="inlineRadioOptions", value="option2")
								| HTML
							label.radio-inline
								input(type="radio", name="inlineRadioOptions", value="option3")
								| TEXT
							
							textarea#code.form-control
						
						.tab-pane.fade#headers
					
				.request-view
					hr
					h4 Requests view
						span.badge.pull-right Last call 10ms ago
					ul.nav.nav-tabs
						li.active: a(href="#request-body", data-toggle="tab", aria-expanded="true") Request
						li: a(href="#request-headers", data-toggle="tab", aria-expanded="false") Headers
					#request-tabs.tab-content
						.tab-pane.fade.active.in#request-body
							textarea#code-request.form-control
						
						.tab-pane.fade#request-headers