
.sidebar-header.clearfix
	h5.pull-left(style="width: calc(100% - 24px)") Projects
	a(href="#", data-action="add"): i.material-icons(style="margin-top: 17px") add_box

ul.nav.nav-sidebar
	li
		a(href="")
			i.material-icons.pull-left.text-muted folder
			h5.pull-left Projects Endpoint Largeeeer name here
			i.material-icons.text-muted.animated.slideInRight(data-action="more") more_vert

	li
		a(href="")
			i.material-icons.pull-left.text-muted folder
			h5.pull-left Projects
			i.material-icons.text-muted.animated.slideInRight(data-action="more") more_vert

	li
		a(href="")
			i.material-icons.pull-left.text-muted folder
			h5.pull-left Projects
			i.material-icons.text-muted.animated.slideInRight(data-action="more") more_vert

script#topic-item(type='template/handlebars')
	a.category(data-role='actionable-items') {{name}}
		span(data-role='item-actions')
			i.fa.fa-fw.fa-pencil(title="Editar categoría", _id="{{_id}}")
			i.fa.fa-fw.fa-times(title="Eliminar categoría", _id="{{_id}}")
		.pull-right
			i.fa.fa-fw.fa-plus(title="Crear nuevo documento", _id="{{_id}}", data-action="add-document")

	| {{#each index}}
	a(data-role='actionable-items', title='Click para editar', data-action="edit-document", _id="{{_id}}")
		i.fa.fa-fw.fa-file-text-o
		span.doc-link &nbsp;{{name}}
		div(data-role='item-actions').pull-right
			i.fa.fa-fw.fa-times(data-action="remove-document", title="Eliminar documento", _id="{{_id}}")
	| {{/each}}
	| {{#unless index}}
	a: i.text-muted sin documentos
	| {{/unless}}
	hr