
.sidebar-header.clearfix
	h5.pull-left(style="width: calc(100% - 24px)") API Projects
	a(href="#", data-action="add").text-muted: i.material-icons(style="margin-top: 17px") add_box

ul.nav.nav-sidebar#projects-list
	
script#projects-empty-template(type="text/x-handlebars-template")
	| Nothing to show, so far...

script#project-template(type="text/x-handlebars-template")
	.clearfix.collapsed(data-target="#collapse-{{_id}}", aria-expanded="false", data-toggle="collapse", data-role="project")
		i.material-icons.pull-left.text-muted folder
		| {{project-name}}
		i.material-icons.text-muted.animated.slideInRight.dropdown-toggle(data-action="more", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") more_vert
		ul.dropdown-menu
			li: a Add endpoint
			li: a Rename project
			li.divider(role="separator")
			li: a Delete project

	ul.list-unstyled.endpoints.collapse(id="collapse-{{_id}}")
		| {{#each resources}}
		li
			a
				| {{resource-method method}}
				h6
					| {{#if name}}
					span.text-uppercase {{name}}
					| {{^}}
					em.text-lowercas {{path}}
					| {{/if}}
		| {{/each}}

