extends ./mail-layout

block content

	h2 Hola #{user.first},

	p Hemos recibido una solicitud para cambiar tu contraseña. Sólo haz clic en el siguiente enlace para crear una nueva:
	p: a(href="http://doclet.io/forgot?key=#{_id}",target="_blank") Cambiar contraseña
	p Te recordamos que esta URL es válida durante las siguientes cuatro horas.
	p Si esta solicitud no fue enviada por ti, por favor ignora este correo.
	p Atentamente,
	p El equipo de 
		a(href="http://doclet.io") Doclet

